<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed">
    <div class="sidebar-logo">
      <a routerLink="/gis">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>智能阴保云监控系统</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter nzIcon="dashboard">
        <a routerLink="/gis">
          <span nz-icon nzType="dashboard"></span>
          <span>GIS监控中心</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzIcon="form">
        <a routerLink="/info">
          <span nz-icon nzType="form"></span>
          <span>数据监测中心</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <span nz-icon nzType="user" nzTheme="outline" class="app-user header-trigger"></span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
